<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml">

									<a th:fragment="pageLink(baseUrl, pageSize, pageNum, label, tooltip)" class="page-link"
										th:href="@{${baseUrl} + '&page=' + ${pageNum} + '&size=' + ${pageSize}}"
  										th:title="${tooltip}" rel="tooltip">
  										[[${label}]]
									</a>

						<nav th:fragment="pagination-control(baseUrl, pageSize, currentPage, totalPages)" aria-label="Pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
									<a th:replace="~{:: pageLink(${baseUrl}, ${pageSize}, 1, #{label.pagination.first.label}, #{label.pagination.first.tooltip})}"></a>
								</li>
								<li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
									<a th:replace="~{:: pageLink(${baseUrl}, ${pageSize}, ${currentPage - 1}, #{label.pagination.previous.label}, #{label.pagination.previous.tooltip})}"></a>
								</li>
								<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
									<a class="page-link" href="#">[[#{label.pagination.etc}]]</a>
								</li>								
								<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
									th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
									<a th:replace="~{:: pageLink(${baseUrl}, ${pageSize}, ${page}, ${page}, #{label.pagination.page.label} + ' ' + ${page})}"></a>
								</li>							
								<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
									<a class="page-link" href="#">[[#{label.pagination.etc}]]</a>
								</li>
								<li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
									<a th:replace="~{:: pageLink(${baseUrl}, ${pageSize}, ${currentPage + 1}, #{label.pagination.next.label}, #{label.pagination.next.tooltip})}"></a>
								</li>
								<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
									<a th:replace="~{:: pageLink(${baseUrl}, ${pageSize}, ${totalPages}, #{label.pagination.last.label}, #{label.pagination.last.tooltip})}"></a>
								</li>
							</ul>
						</nav>

</html>