<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8" />
<head th:replace="~{common/base :: header}"></head>
<body>
	<div th:replace="~{common/base :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/base :: titulo(#{'security.activateAccount.sucess.title'})}"></div>
		<div class="card mb-3">
			<form th:action="@{/security/login}" class="card-body" method="get">
				<div class="form-group">
					<small><span th:text="#{'security.activateAccount.message.title'}"></span></small>
				</div>
				<button class="btn btn-primary" type="submit">
<span th:text="#{action.doLogin}"/></span> <!--  TODO: CHANGE LABEL  -->
				</button>
			</form>
		</div>
	</div>
</body>
</html>