<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8" />
<head th:replace="~{common/base :: header}"></head>
<body>
	<div th:replace="~{common/base :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/base :: titulo(#{'security.forgotPassword.title'})}"></div>
		<div class="card mb-3">
			<form th:action="@{/security/forgotPassword}" th:object="${forgotPasswordForm}" class="card-body" method="post">
				<div class="form-group">
					<label for="username">
						<span th:text="#{field.username}"/></span>
					</label>
					<input th:field="*{username}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.username}"/>
					<small><span th:text="#{forgotPassword.username.description}"></span></small>
					<div class="invalid-feedback" th:errors="*{username}"></div>
				</div>
				<button class="btn btn-primary" type="submit">
					<span th:text="#{action.doSubmit}"/></span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>