<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<th:block th:replace = "~{common/header :: header-content}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
</head>

<body>
	<div th:replace="~{common/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/messages :: global-message}"></div>
		<div class="small-form">
			<form th:action="@{/security/forgotUsername}" th:object="${forgotUsernameForm}" class="card-body" method="post">
				<h2 th:text="#{title.security.forgotUsername}"></h2>
				<div class="col-12 my-3">
					<label for="email" class="form-label"><span th:text="#{field.email}"/></span>&nbsp;<span class="requiredField">*</span></label>
					<input th:field="*{email}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.email}" />
					<small id="emailHelpBlock" class="form-text text-muted"><span th:text="#{field.forgotUsername.email.description}"></span></small>
					<div class="invalid-feedback" th:errors="*{email}"></div>
				</div>
				<button class="btn btn-primary col-12" type="submit">
					<span th:text="#{action.security.doLogin}"/></span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>