<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<th:block th:replace = "~{common/header :: header-content}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
</head>

<body>
	<div th:replace="~{common/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/messages :: global-message}"></div>
		<div class="small-form">
			<form th:action="@{/security/login}" class="card-body" method="post">
				<h2 th:text="#{title.security.login}"></h2>
				<div class="col-12 my-3">
					<label for="username" class="form-label"><span th:text="#{field.security.username}"></span></label>
					<input name="username" class="form-control" th:placeholder="#{field.security.username}" />
				</div>			
				<div class="col-12 my-3">
					<label for="password" class="form-label"><span th:text="#{field.security.password}"></span></label>
					<input type="password" name="password" class="form-control" th:placeholder="#{field.security.password}" />
				</div>	
				<button class="btn btn-primary col-12" type="submit">
					<span th:text="#{action.security.doLogin}"></span>
				</button>
				<!-- Add Remember Me -->
				<!-- Add Forgot Password -->
			</form>
			<p class="text-center"><a th:href="@{/security/registerAccount}" href="#"><span th:text="#{action.security.createAccount}"></span></a></p>
		</div>
	</div>
</body>
</html>