<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: header}"></head>
<body>
	<div th:replace="~{common/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/messages :: global-message}"></div>
		<div class="small-form">
			<form th:action="@{/security/login}" class="card-body" method="post">
				<h2 th:text="#{security.login.title}">Title</h2>
				<div class="col-12 my-3">
					<label for="username" class="form-label"><span th:text="#{field.username}"></span></label>
					<input name="username" class="form-control" th:placeholder="#{field.username}" />
				</div>			
				<div class="col-12 my-3">
					<label for="password" class="form-label"><span th:text="#{field.password}"></span></label>
					<input type="password" name="password" class="form-control" th:placeholder="#{field.password}" />
				</div>	
				<button class="btn btn-primary col-12" type="submit">
					<span th:text="#{action.doLogin}"></span>
				</button>
				<!-- Add Remember Me -->
				<!-- Add Forgot Password -->
				<!-- Add Create an Account -->				
			</form>
		</div>
	</div>
</body>
</html>