<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8" />
<head th:replace="~{common/base :: header}"></head>
<body>
	<div th:replace="~{common/base :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/base :: titulo(#{'security.passwordReset.title'})}"></div>
		<div class="card mb-3">
			<form th:action="@{/security/passwordReset}" th:object="${passwordResetForm}" class="card-body" method="post">
				<input type="hidden" th:field="*{token}" />
				<div class="form-group">
					<label for="newPassword">
						<span th:text="#{field.newPassword}"/></span>
					</label>
					<input th:field="*{newPassword}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.newPassword}"/>
					<small><span th:text="#{passwordReset.newPassword.description}"></span></small>
					<div class="invalid-feedback" th:errors="*{newPassword}"></div>
				</div>
				<button class="btn btn-primary" type="submit">
					<span th:text="#{action.doSubmit}"/></span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>