<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{common/header :: header}"></head>
<body>
	<div th:replace="~{common/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/messages :: global-message}"></div>
		<div class="small-form">
			<form th:action="@{/security/passwordReset}" th:object="${passwordResetForm}" method="post">
				<h2 th:text="#{security.passwordReset.title}"></h2>
				<input type="hidden" th:field="*{token}" />
				<div class="col-12 my-3">
					<label for="newPassword" class="form-label"><span th:text="#{field.newPassword}"/></span>&nbsp;<span class="requiredField">*</span></label>
					<input th:field="*{newPassword}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.newPassword}" />
					<small id="usernameHelpBlock" class="form-text text-muted"><span th:text="#{passwordReset.newPassword.description}"></span></small>
					<div class="invalid-feedback" th:errors="*{newPassword}"></div>
				</div>
				<button class="btn btn-primary col-12" type="submit">
					<span th:text="#{action.doSubmit}"/></span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>