<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<th:block th:replace = "~{common/header :: header-content}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
<script th:src="@{/js/create-account.js}" type="text/javascript" defer></script>
</head>

<body>
	<div th:replace="~{common/logo :: logo}"></div>
	<div class="container">
		<div th:replace="~{common/messages :: global-message}"></div>
		<div class="medium-form">
			<form th:action="@{/security/registerAccount}" th:object="${registerAccountForm}" class="card-body" method="post" id="createAccountForm">
				<h2 th:text="#{security.createAccount.title}"></h2>
				<div class="row mb-3">
					<label for="idiom" class="col-sm-2 col-form-label"><span th:text="#{field.language}"></span>&nbsp;<span class="requiredField">*</span></label>
					<div class="col-sm-10">
						<select class="form-select" th:field="*{idiom}" onChange="changeIdiom(this.options[this.selectedIndex].value);">
							<option selected disabled value="">[[#{field.select.defaultOption}]]</option>
							<option th:each="idiom : *{supportedIdiomList}" th:value="${idiom.toLanguageTag()}" th:text="${idiom.getDisplayName(idiom)}"></option>
						</select>				
						<small id="idiomHelpBlock" class="form-text text-muted"><span th:text="#{field.language.description}"></span></small>
						<div class="invalid-feedback"><span th:text="#{field.language.errorFeedback}"></span></div>	
					</div>
				</div>
				<div class="row mb-3">
					<label for="username" class="col-sm-2 col-form-label"><span th:text="#{field.username}"></span>&nbsp;<span class="requiredField">*</span></label>
					<div class="col-sm-10">
						<input th:field="*{username}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.username}" />
						<small id="usernameHelpBlock" class="form-text text-muted"><span th:text="#{field.username.description}"></span></small>
						<div class="invalid-feedback"><span th:text="#{field.username.errorFeedback}"></span></div>	
					</div>
				</div>
				<div class="row mb-3">
					<label for="email" class="col-sm-2 col-form-label"><span th:text="#{field.email}"></span>&nbsp;<span class="requiredField">*</span></label>
					<div class="col-sm-10">
						<input th:field="*{email}" th:errorclass="is-invalid" class="form-control" th:placeholder="#{field.email}" />
						<small id="emailHelpBlock" class="form-text text-muted"><span th:text="#{field.email.description}"></span></small>
						<div class="invalid-feedback"><span th:text="#{field.email.errorFeedback}"></span></div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="password" class="col-sm-2 col-form-label"><span th:text="#{field.password}"></span>&nbsp;<span class="requiredField">*</span></label>
					<div class="col-sm-10">
						<input type="password" th:field="*{password}" th:errorclass="is-invalid" class="form-control" />
						<small id="passwordHelpBlock" class="form-text text-muted"><span th:text="#{field.password.description}"></span></small>
						<div class="invalid-feedback"><span th:text="#{field.password.errorFeedback}"></span></div>		
					</div>
				</div>
				<div class="row mb-3">
					<label for="passwordConfirmation" class="col-sm-2 col-form-label"><span th:text="#{field.passwordConfirmation}"></span>&nbsp;<span class="requiredField">*</span></label>
					<div class="col-sm-10">
						<input type="password" th:field="*{passwordConfirmation}" th:errorclass="is-invalid" class="form-control" />
						<small id="passwordConfirmationHelpBlock" class="form-text text-muted"><span th:text="#{field.passwordConfirmation.description}"></span></small>
						<div class="invalid-feedback"><span th:text="#{field.passwordConfirmation.errorFeedback}"></span></div>		
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-form-check">
						<input class="form-check-input" type="checkbox" th:field="*{agreedToTerms}" th:errorclass="is-invalid">
						<label class="form-check-label" for="agreedToTerms">
						<span th:text="#{field.agreeToTerms.description}"></span></label>
						<div class="invalid-feedback"><span th:text="#{field.agreeToTerms.errorFeedback}"></span></div>		
					</div>							
				</div>
				<button class="btn btn-primary col-4" type="submit">
					<span th:text="#{action.createAccount}"></span>
				</button>				
			</form>
		</div>
		</div>
</body>
</html>