<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<th:block th:replace = "~{common/header :: header-content}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboards.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/lists.css}" />
<script th:src="@{/js/lists.js}" defer></script>
<script th:src="@{/js/loading.js}" defer></script>
</head>

<body>
	<div class="container-fluid">
		<div th:replace="~{common/modals :: confirm-delete-modal}"></div>
		<div class="row flex-nowrap">
			<div th:replace="~{common/loading :: loading}"></div>
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
				<div th:replace="~{common/menus :: side-menu}"></div>
			</div>
            <div class="col p-0">
                <div class="container">
					<h1 class="mt-3 mb-3"><span th:text="#{title.todo}"></span></h1>
                	<div th:replace="~{common/messages :: global-message}"></div>
					<fieldset class="searchBox border p-3 rounded">
						<legend class="w-auto"><span th:text="#{label.search}"></span></legend>
						<form th:action="@{/todos}" method="get">
							<div class="row mb-3">
								<label for="username" class="col-sm-1 col-form-label"><span th:text="#{label.name}"></span></label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="name" th:value="${name}">
								</div>
							</div>
							<div class="row mb-3">
								<label for="username" class="col-sm-1 col-form-label"><span th:text="#{label.description}"></span></label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="description" th:value="${description}">
								</div>
							</div>
							<button class="btn btn-outline-primary" type="submit"><span th:text="#{label.action.filter}"></span></button>
							<button class="btn btn-outline-danger" type="reset"><span th:text="#{label.action.reset}"></span></button>
						</form>
					</fieldset>
					<div class="toolbar mb-1">
						<div class="py-3 d-flex justify-content-between">
							<div class="row">
								<div class="col-auto p-1 px-3" th:if="${todoList.content.size() > 0}">
									<span class="align-items-center align-middle"><span th:text="#{label.showRecordsPerPage}"></span></span>
								</div>
								<div class="col-auto p-0" th:if="${todoList.content.size() > 0}">
									<form th:action="@{/todos}" method="get" id="changePageSizeForm">
										<input type="hidden" th:value="${name}" name="name" />
										<input type="hidden" th:value="${description}" name="description" />
										<input type="hidden" th:value="${page}" name="page" />
										<select class="form-select" name="size" th:value="${size}" onChange="changePageSize();" id="pageSize">
											<option th:each="s : ${ {5, 10, 15, 20} }" th:value="${s}" th:text="${s}" th:selected="${s == size}"></option>
										</select>
									</form>
								</div>
							</div>
							<div>
								<button id="deleteAllButton" class="btn btn-outline-danger rounded disabled"
									th:if="${todoList.content.size() > 0}"
									data-bs-toggle="modal"
									data-bs-target="#confirmDeleteModal"
									th:data-bs-delete-url="@{/todos/delete?idList=IDLIST&name={name}&description={description}&page={page}&size={size}(name=${name}, description=${description}, page=${page}, size=${size})}"
									th:data-bs-modal-title="#{title.modal.delete.many}"
									th:data-bs-modal-text="#{message.modal.delete.many}">
									<i class="bi bi-trash-fill"></i>&nbsp;<span th:text="#{label.action.removeSelected}"></span>
								</button>
								<a class="btn btn-outline-primary rounded" th:href="@{/todos/add}"><i class="bi bi-plus-circle-fill"></i>&nbsp;<span th:text="#{label.action.new}"></span></a>
							</div>
						</div>
					</div>
					<div th:unless="${todoList.content.size() > 0}">
						<span th:text="#{label.noDataFound}"></span>
					</div>
					<div class="table-responsive" th:if="${todoList.content.size() > 0}">
						<table id="contentList" class="table table-bordred table-striped table-sm"   >
							<thead class="tableHeader">
								<th class="text-center"><input class="form-check-input" type="checkbox" id="checkAllItems" onChange="selectOrUnselectAllItems();updateDeleteAll();" /></th>
								<th th:text="#{label.name}"></th>
								<th th:text="#{label.description}"></th>
								<th th:text="#{label.status}"></th>
								<th class="text-center toolColumn" th:text="#{label.actions}"></th>
							</thead>
							<tbody class="tableBody">
								<tr th:each="todo : ${todoList.content}">
									<td class="align-middle text-center"><input class="form-check-input" type="checkbox" onChange="updateDeleteAll();" th:id="'selectItem_#' + ${todo.id}" /></td>
									<td class="align-middle" th:text="${todo.name}"></td>
									<td class="align-middle" th:text="${todo.description}"></td>
									<td class="align-middle" th:text="${todo.status.name}"></td>
									<td class="align-middle text-center text-nowrap">
										<a class="btn btn-outline-primary btn-sm" th:href="@{/todos/{id}(id=${todo.id})}"><i class="bi bi-pencil"></i></a>
										<button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
											data-bs-target="#confirmDeleteModal"
											th:data-bs-delete-url="@{/todos/delete/{id}?name={name}&description={description}&page={page}&size={size}(id=${todo.id}, name=${name}, description=${description}, page=${page}, size=${size})}"
											th:data-bs-modal-title="#{title.modal.delete.single}"
											th:data-bs-modal-text="#{message.modal.delete.single}">
											<i class="bi bi-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<nav th:replace="~{common/pagination :: pagination-control('/todos?name=' + ${name != null ? name : ''} + '&description=' + ${description != null ? description : ''} + '&size=' + ${size}, ${todoList.size}, ${page}, ${todoList.totalPages})}"></nav>
                	</div>
                </div>
            </div>
		</div>
	</div>
</body>
</html>